@CHARSET "UTF-8";

body{
	background-color: #f0f0f5;
	font-size: 85%;
}

h1 {
	background-color: 	#0d1926;
	color: 				#ecf2f8;
	padding: 				8px;
	margin: 				2px;
}

.modal {
	display:		none;
	position:		fixed;
	z-index:		1000;
	top:			0;
	left:			0;
	height:			100%;
	width:			100%;
	background:		rgba(255,255,255, .8)
					url("img/loading.gif")
					50% 50%
					no-repeat;
}

body.loading {
	overflow:	hidden;
}

body.loading .modal{
	display:	block;
}

#nav {
	background-color: 	#e0e0eb;
	color: 				#ecf2f8;
	padding: 			4px;
	margin: 			2px;
	height:				32px;
}
#nav_right {
/* 	text-align: 		right; */
	float:				right;
}
#nav_left {
/* 	text-align: 		left; */
	float:				left;
}

.lrdialog {
	display: 	block;
	padding: 	1px;
	margin:		4px;
}

.ui-dialog .ui-state-error {
	padding: 	0.3em;
}
.dropdown_menu{
	padding: 			4px;
	margin: 			2px;
}

.ui-accordion .ui-accordion-content {
	padding:5px 
}

fieldset {
	padding: 		0;
	border:			0;
	margin-top: 	25px;	
}

#graphcanvas {
/* 	float: 			left; */
/* 	width:			1000px; */
/* 	height:			1000px; */

}

#center {
	position:	absolute;
	width:		98.5%;
	height:		84%;
	marging:	2px;
}

#canvasContainer{
/* 	position: 		relative; */
	float:			left;
	width:			74%;
	height:			100%;
	margin:			2px;
	overflow:		scroll;
}

#right {
	float: 		right;
/* 	position: 	relative; */
	width: 		25%;
	height: 	550px;
/* 	padding:	2px; */
}

#sidemenu {
/* 	width: 		100%; */
	height: 	550px;
/* 	position: 	absolute; */
/* 	padding:	2px; */
}

.edAddButton{
	width: 45px;
}

#edModifyBtn{
	margin-top: 8px;
	font-size: 100%;	
}